server:
  port: 8090

spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1234
    url: jdbc:mariadb://localhost:3306/test
  main:
    allow-bean-definition-overriding: true
  jpa:
      hibernate:
        ddl-auto: update #create  
      show-sql: true # 실행 되는 SQL문을 보여 줄지 설정
      properties:  
        hibernate.format_sql: true # 형식화된 sql 문을 보여준다. Beautifier 기능이라고 생각하면 된다
        hibernate.enable_lazy_load_no_trans: true #Lazy Load 를 적용하기 위한 설정
      database: mysql
      database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
      
#mybatis:
#  configuration:
#    default-statement-timeout: 120
#    map-underscore-to-camel-case: true
#  type-aliases-package: com.sp.feelet